


.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--mainDarkColor);
    min-height: 100vh;
    left: -100%;
    width: 100%;
    transition: 0.4s;
    z-index: 100000;
    padding: 15px;
}
.sidebar.active {
    left: 0;
}

.special-footer-outline-text {
    color: white;
    z-index: -1; opacity: 0.01;
}


.input-container {
    position: relative;
    width: 100%;
    outline: none;
}
.input-container input,
.input-container textarea {
    width: 100%;
    background: transparent;
    border: 1px solid var(--mainDarkLightTextColor);
    border-radius: 0.5em;
    color: var(--mainDarkLightTextColor);
    outline: none;
    transition: border 0.3s ease;
    user-select: none;
    box-shadow: none; 
}

.input-container input::placeholder,
.input-container textarea::placeholder {
    color: var(--mainDarkLightTextColor);
}

.input-container input:hover,
.input-container textarea:hover,
.input-container input:focus,
.input-container textarea:focus {
    border: 1px solid red;
    outline: none;
    box-shadow: none; 
}

.swiper .swiper-button-next, .swiper .swiper-button-prev {
    color: red;
}
iframe {
  overflow: auto; 
}

iframe:hover {
  overscroll-behavior: contain;
}

@media screen and (min-width: 768px) {
    .sidebar {
        display: none;
    }
}



@media screen and (min-width: 768px) {
    .sidebar {
        display: none;
    }
}
