.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--mainDarkColor);
    min-height: 100vh;
    left: -100%;
    width: 100%;
    transition: 0.4s;
    z-index: 100000;
    padding: 15px;
}
.sidebar.active {
    left: 0;
}

.special-footer-outline-text {
    color: white;
    z-index: -1; opacity: 0.01;
}
.input-container {
    position: relative;
}
.input-container {
    position: relative;
    width: 100%;
}

.input-container input,
.input-container textarea {
    width: 100%;
    background: transparent;
    border: 1px solid var(--mainDarkLightTextColor);
    border-radius: 0.5em;
    color: var(--mainDarkLightTextColor);
    outline: none;
    transition: border 0.3s ease;
}


.input-container input::placeholder,
.input-container textarea::placeholder{
    color:var(--mainDarkLightTextColor);
}

.input-container input:hover,
.input-container textarea:hover,
.input-container input:focus,
.input-container textarea:focus {
    border: 1px solid red; 
}

.input-container label {
    position: absolute;
    color: gray;
    top: 50%;
    left: 0.5em;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 5px;
    pointer-events: none;
    transition: all 0.4s ease;
    background-color: transparent;
    padding: 0 0.25em;
}

.input-container input:focus ~ label,
.input-container textarea:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label,
.input-container textarea:not(:placeholder-shown) ~ label {
    transform: translateY(-150%);
    color: var(--mainDarkLightTextColor);
    background-color: var(--mainDarkColor); 
}

.input-container input:placeholder-shown ~ label,
.input-container textarea:placeholder-shown ~ label {
    transform: translateY(-50%);
    color: gray;
}
iframe {
  overflow: auto; 
}

iframe:hover {
  overscroll-behavior: contain;
}

@media screen and (min-width: 768px) {
    .sidebar {
        display: none;
    }
}



@media screen and (min-width: 768px) {
    .sidebar {
        display: none;
    }
}
